*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}

#backgroundPattern{
    background-color: rgb(63, 159, 255);
    height:100%;
    background-image: url(../img/pattern.png);
}

#logo{
    width: 15%;
    margin: 50px 0px 0px 10px;
}

#whiteBoard{
    background-color: white;
    padding:10px;
}

header p{
    color: gray;
    margin-bottom: 20px;
}

header a{
    color:rgb(63, 159, 255);
    text-decoration: none;
}

.images p{
    font-size: small;
}

.lorem{
    margin:20px 0px;
}

.lorem > span{
    background-color: yellow;
}

ul{
    margin-left:15px;
}

table{
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    text-indent: initial;
}

th{
    background-color: rgb(63, 159, 255);
    color:white;
    text-align: left;
}

.firstCol, .secondCol{
    width: 25%;
}


.bg-aqua{
    background-color: rgb(124, 218, 255);
}