*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}

#backgroundPattern{
    background-color: rgb(63, 159, 255);
    height:100%;
    background-image: url(../img/pattern.png);
}

#logo{
    width: 15%;
    margin: 50px 0px 0px 10px;
}

#whiteBoard{
    background-color: white;
    padding:10px;
}

header p{
    color: gray;
}

header a{
    color:rgb(63, 159, 255);
    text-decoration: none;
}